
    <!-- login section start -->
    <section class="login-section">
        <div class="header-section">
            <div class="logo-sec">
                <a href="index.html">
                    <img src="../assets/images/logo-of-cobber.png" alt="logo" class="img-fluid blur-up lazyload">
                </a>
            </div>
          
        </div>
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-5 d-none d-lg-block">
                    <div class="login-welcome">
                        <div>
                            <img src="../assets/images/side-img-login.png" class="img-fluid blur-up lazyload"
                                alt="charcter">
                           
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-7 col-md-10 col-12 m-auto">
                    <div class="login-form">
                        <div>
                            <div class="login-title">
                                <img src="../assets/images/logo-of-cobber.png" alt="logo"
                                    class="img-fluid blur-up lazyload">

                            </div>
                           
                            <div class="form-sec">
                                <div>
                                    <form class="theme-form" [formGroup]="loginForm" (ngSubmit)="login()">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                formControlName="email" placeholder="Enter email" >
                                            <!-- <i class="input-icon iw-20 ih-20" data-feather="user"></i> -->
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                formControlName="password" placeholder="Password">
                                            <!-- <i class="input-icon iw-20 ih-20" data-feather="eye"></i> -->
                                            <!-- <i class="input-icon" data-feather="eye-off" width="20" height="20"></i> -->
                                        </div>
                                        <div class="bottom-sec">
                                            <div class="form-check checkbox_animated">
                                                <input type="checkbox" class="form-check-input" formControlName="remember" id="exampleCheck1">
                                                <label class="form-check-label" for="exampleCheck1">remember me</label>
                                            </div>
                                            <a href="#" class="ms-auto forget-password">forget
                                                password?</a>
                                        </div>
                                        <div class="btn-section">
                                            <button type="submit" (click)="login()"
                                                class="btn btn-solid btn-lg">login</button>
                                            <a routerLink="/register" class="btn btn-solid btn-lg ms-auto">sign up</a>
                                        </div>
                                    </form>
                                    <div class="connect-with">
                                        <h6><span>OR Connect With</span></h6>
                                        <ul class="social-links">
                                            <li class="google">
                                                <a href="#">
                                                   
                                                </a>
                                            </li>
                                            <li class="facebook">
                                                <a href="#">
                                                   
                                                </a>
                                            </li>
                                            <li class="twitter">
                                                <a href="#">
                                                   
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- login section end -->
