<div class="sidebar-panel">
    <div class="main-icon">
        <a href="#">
            <i data-feather="grid"class="icon-th"></i>
        </a>
    </div>
    <ul class="sidebar-icon">
        <li>
            <a routerLink="/home">
                <i data-feather="file"  class="icon-file-alt"  ></i>
                <div class="tooltip-cls">
                    <span>newsfeed</span>
                </div>
            </a>
        </li>
        <li>
            <a href="single-page.html">
                <i data-feather="star" class="icon-globe"></i>
                <div class="tooltip-cls">
                    <span>News</span>
                </div>
            </a>
        </li>
        <!-- <li>
            <a href="#">
                <i  class="icon-user"></i>
                <div class="tooltip-cls">
                    <span></span>
                </div>
            </a>
        </li> -->
        <li>
            <a href="music.html">
                <i class="icon-music"></i>
                <div class="tooltip-cls">
                    <span>Music</span>
                </div>
            </a>
        </li>
        <li>
            <a href="weather.html">
                <i class="icon-book"></i>
                <div class="tooltip-cls">
                    <span>Book</span>
                </div>
            </a>
        </li>
        <li>
            <a href="birthday.html">
                <i class="icon-play"></i>
                <div class="tooltip-cls">
                    <span>Video</span>
                </div>
            </a>
        </li>
        <li class="inner-list">
            <a href="games.html">
                <i class="icon-dribbble"></i>
                <div class="tooltip-cls">
                    <span>Games</span>
                </div>
            </a>
            <span class="count">2</span>
            <ul class="vertical-slide-3 no-arrow">
                <li>
                    <a href="#"><img src="../assets/images/icon/game/1.jpg" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="../assets/images/icon/game/2.jpg" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="../assets/images/icon/game/3.jpg" alt=""></a>
                </li>
                <li>
                    <a href="#"><img src="../assets/images/icon/game/4.jpg" alt=""></a>
                </li>
            </ul>
        </li>
        <li>
            <a href="event.html">
                <i class="icon-calendar-empty"></i>
                <div class="tooltip-cls">
                    <span>Event</span>
                </div>
            </a>
        </li>
      
    </ul>
    <div class="main-icon">
        <a href="#">
            <i class="icon-off"></i> icon-off
        </a>
    </div>
</div>