.btn-cover{
    background-color: #3b5999;
    
}
.btn-cover:hover{
        background-color: #3b5999!important;
}
@media screen and (min-width:972px) {
    .profile-cover .cover-img{
        height: 350px!important
    }
}
